body {
    font-family: Arial;
    background-color: white;
}
.tip {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
}
.n1 {
    position: absolute;
    width: 100%;
    top: 5%;
    text-indent: 2em;
}
.n2 {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: right;
}
body {
    background-image: url(https://imagecdn3.allcpp.cn/upload/2023/11/333c8de8-a2e8-4aaf-92f8-157d223030c2.jpeg)
}
body {
    width: 100%;
}
body {
    
    background-repeat: no-repeat;
    background-position:top 50px;
    background-position: left 50px;

}
body {
    overflow: scroll;
}
p {
    font-size: 2.1875rem;
}